.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #800000; /* Marroon */
    }

.title {
    font-size: 50px;
    color: #800000;
    text-align: center;
    }

* {
    box-sizing: border-box;
}
    
.container {
    display: flex;
}
    
img {
    width: 50%;
}

.left,
.right {
    padding: 20px;
    width: 50%;
    border: solid;
}
    
.content {
    width: 90%;
    margin: 40px auto;
    font-size: 28px;
    color: #800000;
}

.largecontent {
    width: 90%;
    margin: 40px auto;
    font-size: 40px;
    font-weight: bold;
    color: #800000;
}
    
/* .title {
    text-align: center;
} */

@media screen and (max-width: 600) {
    .container {
        flex-direction: column;
    }
    .left,
    .right {
        width: 50%;
    }
    .content {
        width: 50%;
    }
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-self: center;
}

.hiddentext {
    /* visibility: hidden; */
    display: none;
}