{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- <link rel="stylesheet" href=home.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
    <script>
        function Product() {
            var product = document.getElementById("product").value;
            alert(product);
            // DisplayPNGBelow();
        }
        function Producer() {
            var producer = document.getElementById("producer").value;
            alert(producer);
        }
    </script>


<title>Page Title</title>
</head>
<body style="background-color:#FFFFF0">

<h1 class="title">Farmsight</h1>

<div class="container">
    <script>
        function ToggleHide(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            // var y="yeet";
            // DisplayHiddenData(y);
        }
    </script>
    <div class="left">
      <div class="largecontent">
        Analyze statistics for a particular product!
        <br/>
        <br/>
      </div>
      <div class="content">
        Enter product name/code: <input type="text" id="product" name="name">
        <button class="button" onclick="Product()">Submit</button>
      </div>
    </div>
    <div class="right">
        <div class="largecontent">
            Analyze statistics for a particular producer!
            <br/>
            <br/>
        </div>
        <div class="content">
            Enter producer name/code: <input type="text" id="producer" name="name">
            <button class="button" onclick="Producer()">Submit</button>
        </div>
        <div class="hiddentext" id="producerhidden">
            <!-- <script>
                function DisplayHiddenData(prod) {
                    document.write("Producer: " + prod);
                }
            </script> -->
            Producer:
            <br/>
            Probability of delivery:
            <br/>
            Probability of delivery on time:
            <br/>
            Land Owner: 
            <br/>
            Water Access: 
            <br/>
            Reliability Score:
            <br/>
            <br/>
            See Below for Graphs:
        </div>
        <button class="button" onclick="ToggleHide('producerhidden')">Toggle Hide/Show</button>
    </div>
</div>

<div>
    <script>
        function ChangeImage() {
            document.getElementById("imgid").src="{% static 'spiderman.png' %}";
        }
    </script>
    <!-- <div><img alt="" id="img_target" src="spiderman.png" /></div> -->
    <img id="imgid" class="image" src="{% static 'fffff0.png' %}" alt="TestImage">
    <button class="button" onclick="ChangeImage()">Add Image</button>
</div>

</body>
</html>