{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- <link rel="stylesheet" href=home.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
    <script>
        function Q1() {
          alert("Q1");
        }
        function Q2() {
          alert("Q2");
        }
        function Q3() {
          alert("Q3");
        }
        function Q4() {
          alert("Q4");
        }
        function Q5() {
          alert("Q5");
        }
        function Q6() {
          alert("Q6");
        }
        function Q7() {
          alert("Q7");
        }
        function Q8() {
          alert("Q8");
        }
        function Q9() {
          alert("Q9");
        }
        function Q10() {
          alert("Q10");
        }

    </script>


<title>Page Title</title>
</head>
<body style="background-color:#FFFFF0">

<h1 class="title">Reliably</h1>

<div class="container">
    <div class="left">
      <div class="largecontent">
        Analyze statistics for a particular product!
        <br/>
        <br/>
      </div>
      <div class="content">
        Enter product name/code: <input type="text" id="product" name="name">
        <button class="button">Submit</button>
      </div>
    </div>
    <div class="right">
        <div class="largecontent">
            Analyze statistics for a particular producer!
            <br/>
            <br/>
        </div>
        <div class="content">
            Enter producer name/code: <input type="text" name="producer">
            <button class="button">Submit</button>
        </div>
    </div>
</div>

<p>
    <button class="button" onclick="Q1()">Given a specific producer, what is the probability that they are going to deliver on their plan?</button>
    <br/>
    <button class="button" onclick="Q2()">Given a specific product, what is the probability that it will be delivered according to plan?</button>
    <br/>
    <button class="button" onclick="Q3()">Given a specific product, what is the porbability that it will be delivered in the week specified?</button>
    <br/>
    <button class="button" onclick="Q4()">Which products are least likely to be delivered according to their plan?</button>
    <br/>
    <button class="button" onclick="Q5()">Given a specific delivery week, what is the probability that a product will be delivered?</button>
    <br/>
    <button class="button" onclick="Q6()">Is there a statistically significant correlation between producer success and land ownership?</button>
    <br/>
    <button class="button" onclick="Q7()">Is there a statistically significant correlation between producer success and access to water?</button>
    <br/>
    <button class="button" onclick="Q8()">Do we need to adjust our planning dates so that they better reflect the most likely delivery weeks for the products?</button>
    <br/>
    <button class="button" onclick="Q9()">Can we deterimine whether or not producer success was influenced by the weather?</button>
    <br/>
    <button class="button" onclick="Q10()">Using these different probabilities, can we develop a planning factor, so that when planning, we can compensate in order to ensure that actuals align more closely with plans?</button>
    <br/>
    <br/>

    
</p>

</body>
</html>